<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<integer>904</integer>
		<key>title</key>
		<string>标题+内容+图片</string>
		<key>content</key>
		<string>测试内容五行能否正常显示测试内容五行能否正常显测试内容五行能否正常显示测试内容五行能测试内容五行能否正常显示测试内容五行能否正常显测试内容五行能否正常显示测试内容五行能否正常显示测试内容五行能否正常显示测试内容五行能否正常显测试内容五行能否正常显示测试内容五行能否正常显示示测测试内容五行能否正常显示测试内容五行能否正常显示试内容五行能否正常显示测试内容五行能否正常显示示否正常显示示</string>
		<key>created_date</key>
		<integer>1453427462000</integer>
		<key>visible</key>
		<integer>0</integer>
		<key>user</key>
		<dict>
			<key>identifier</key>
			<integer>131</integer>
			<key>nickname</key>
			<string>老油条☺</string>
			<key>pic_path</key>
			<string>http://7xp3ww.com1.z0.glb.clouddn.com/image/user/headpic/upload/131/46ffa90d-a330-4d8d-a6a9-e72055c07391</string>
			<key>user_type</key>
			<integer>1</integer>
		</dict>
		<key>pic_paths</key>
		<array>
			<string>1.png</string>
		</array>
		<key>reposts_count</key>
		<integer>0</integer>
		<key>comments_count</key>
		<integer>10</integer>
		<key>attitudes_count</key>
		<integer>0</integer>
		<key>attitude</key>
		<false/>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>904</integer>
		<key>title</key>
		<string>标题+图片</string>
		<key>content</key>
		<string></string>
		<key>created_date</key>
		<real>1453427462000</real>
		<key>visible</key>
		<integer>0</integer>
		<key>user</key>
		<dict>
			<key>identifier</key>
			<integer>131</integer>
			<key>nickname</key>
			<string>老油条☺</string>
			<key>pic_path</key>
			<string>http://7xp3ww.com1.z0.glb.clouddn.com/image/user/headpic/upload/131/46ffa90d-a330-4d8d-a6a9-e72055c07391</string>
			<key>user_type</key>
			<integer>1</integer>
		</dict>
		<key>pic_paths</key>
		<array>
			<string>2</string>
		</array>
		<key>reposts_count</key>
		<integer>0</integer>
		<key>comments_count</key>
		<integer>10</integer>
		<key>attitudes_count</key>
		<integer>0</integer>
		<key>attitude</key>
		<false/>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>904</integer>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>内容+图片</string>
		<key>created_date</key>
		<real>1453427462000</real>
		<key>visible</key>
		<integer>0</integer>
		<key>user</key>
		<dict>
			<key>identifier</key>
			<integer>131</integer>
			<key>nickname</key>
			<string>老油条☺</string>
			<key>pic_path</key>
			<string>http://7xp3ww.com1.z0.glb.clouddn.com/image/user/headpic/upload/131/46ffa90d-a330-4d8d-a6a9-e72055c07391</string>
			<key>user_type</key>
			<integer>1</integer>
		</dict>
		<key>pic_paths</key>
		<array>
			<string>3</string>
		</array>
		<key>reposts_count</key>
		<integer>0</integer>
		<key>comments_count</key>
		<integer>10</integer>
		<key>attitudes_count</key>
		<integer>0</integer>
		<key>attitude</key>
		<false/>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>904</integer>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string></string>
		<key>created_date</key>
		<integer>1453427462000</integer>
		<key>visible</key>
		<integer>0</integer>
		<key>user</key>
		<dict>
			<key>identifier</key>
			<integer>131</integer>
			<key>nickname</key>
			<string>老油条☺</string>
			<key>pic_path</key>
			<string>http://7xp3ww.com1.z0.glb.clouddn.com/image/user/headpic/upload/131/46ffa90d-a330-4d8d-a6a9-e72055c07391</string>
			<key>user_type</key>
			<integer>1</integer>
		</dict>
		<key>pic_paths</key>
		<array>
			<string>4</string>
		</array>
		<key>reposts_count</key>
		<integer>0</integer>
		<key>comments_count</key>
		<integer>10</integer>
		<key>attitudes_count</key>
		<integer>0</integer>
		<key>attitude</key>
		<false/>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>904</integer>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>只有内容</string>
		<key>created_date</key>
		<integer>1453427462000</integer>
		<key>visible</key>
		<integer>0</integer>
		<key>user</key>
		<dict>
			<key>identifier</key>
			<integer>131</integer>
			<key>nickname</key>
			<string>老油条☺</string>
			<key>pic_path</key>
			<string>http://7xp3ww.com1.z0.glb.clouddn.com/image/user/headpic/upload/131/46ffa90d-a330-4d8d-a6a9-e72055c07391</string>
			<key>user_type</key>
			<integer>1</integer>
		</dict>
		<key>pic_paths</key>
		<array/>
		<key>reposts_count</key>
		<integer>0</integer>
		<key>comments_count</key>
		<integer>10</integer>
		<key>attitudes_count</key>
		<integer>0</integer>
		<key>attitude</key>
		<false/>
	</dict>
</array>
</plist>
